<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}- ArgonChat</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">  
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="font-family: 'Righteous', sans-serif;" class="bg-purple-300">
    <nav class="flex items-center justify-between px-4 py-6 bg-purple-400">
        <div class="">
            <a href="#" class="text-xl text-white ">Argon chat </a>
        </div> 
        <div class="flex items-center space-x-4">
            <a href="#" class="text-white hover:text-purple-900 transition easy-in-out duration-500">Login </a>
            <a href="#" class="px-5 py-3 shadow-md rounded-xl bg-white text-purple-900 hover:text-white hover:bg-purple-500 hover:shadow-lg transition easy-in-out duration-500">Sign up </a>
        </div>
    </nav>

    {% block content %}{% endblock content %}
</body>
</html>